@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
/*font-family: 'Raleway', sans-serif;*/

$blue: #a2c2eb;
$green: #c5c5a9;
$orange: #fe895e;
$black: black;

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

/********* NAVBAR ********/
nav button {
  float: right;
  position: relative;
  top: 10px;
}
nav ul {
  margin: 20px;

  li {
    padding: 20px;
  }
  a {
    color: $green;
    font-weight: bolder;
  }
}

/********* IMAGE PRINCIPALE ET TITRE *********/
.presentation {
  position: relative;
  height: 200px;
  margin-bottom: 110px;
  img {
    position: absolute;
    margin-top: 29px;
    margin-left: 25%;
    width: 50%;
  }
  h1 {
    position: relative;
    top: 200px;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    font-size: 40px;
  }
}
/********* BARRE DONATION *********/
.donation {
  background-color: $green;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.1em;
  height: 40px;
  width: 100%;
  margin: 40px 0;
  padding: 8px;
  top: 220px;

  a {
    color: black;
    font-weight: bolder;
    text-decoration: none;
  }
}

/********* MATCH CARITATIF *********/
.match {
  height: 100px;
  border-radius: 10px;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 60px;
  background-color: $orange;
  transition: 0.8s;
  &:hover {
    opacity: 0.7;
    transition: 0.8s;
    letter-spacing: 2px;
  }
  h2 {
    position: relative;
    color: $black;
    font-weight: bolder;
    font-size: 1.7em;
    top: 25px;
    text-align: center;
    padding: 10px;
  }
}
.match:hover + .acces,
.acces:hover {
  opacity: 1;
  transform: translateY(0);
  transition: 0.8s;
}
.acces {
  position: relative;
  text-align: center;
  display: block;
  top: -55px;
  transform: translateY(-30px);
  opacity: 0.4;
  transition: 0.8s;
  h5 {
    font-size: 1em;
  }
  a {
    color: $orange;
    display: block;
  }
}

/********* CARD *********/
.card {
  display: flex;
  width: 70%;
  margin: 0 auto;
  border: white;
  margin-bottom: 60px;
}
@mixin cards($border, $color, $radius) {
  border: 1px solid;
  color: $black;
  border-radius: 10px;
}

$color-card: (
  "1": $green,
  "2": $blue,
  "3": $orange,
);
@each $number, $color in $color-card {
  .card#{$number} {
    background-color: $color;
  }
}
/********* CARD 1 *********/
.card1 {
  @include cards(1px, $black, 10px);
  padding-bottom: 10px;
  img {
    border-radius: 10px 10px 0 0;
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
  h5 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.4em;
    font-weight: bolder;
  }
  p {
    @media screen and (max-width: 500px) {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
    }
    &::first-letter {
      font-size: 1.7em;
    }
  }
  button {
    background-color: white;
    color: $green;
    border: $green;
    float: right;
    border-radius: 5px;
    height: 35px;
    transition: 2s ease-in-out;
    &:hover {
      opacity: 0.4;
      transition: 2s ease-in-out;
    }
  }
}
/********* CARD 2 *********/
.card2 {
  @include cards(1px, $black, 10px);
  margin-top: 30px;
  padding-bottom: 10px;
  img {
    border-radius: 10px 10px 0 0;
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
  h5 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.4em;
    font-weight: bolder;
  }
  p {
    @media screen and (max-width: 500px) {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
    }
    &::first-letter {
      font-size: 1.7em;
    }
  }
  button {
    background-color: white;
    color: $blue;
    border: $blue;
    float: right;
    border-radius: 5px;
    height: 35px;
    transition: 2s ease-in-out;
    &:hover {
      opacity: 0.4;
      transition: 2s ease-in-out;
    }
  }
}
/********* CARD 3 *********/
.card3 {
  @include cards(1px, $black, 10px);
  margin-top: 30px;
  padding-bottom: 10px;
  img {
    border-radius: 10px 10px 0 0;
    display: flex;
    margin: 0 auto;
    width: 100%;
  }
  h5 {
    letter-spacing: 2px;
    text-align: center;
    font-size: 1.4em;
    font-weight: bolder;
  }
  p {
    @media screen and (max-width: 500px) {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
    }
    &::first-letter {
      font-size: 1.7em;
    }
  }
  button {
    background-color: white;
    color: $orange;
    border: $orange;
    float: right;
    border-radius: 5px;
    height: 35px;
    transition: 2s ease-in-out;
    &:hover {
      opacity: 0.4;
      transition: 2s ease-in-out;
    }
  }
}
/******** TABLEAU **********/
.tableau {
  h2 {
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;
    color: $green;
  }
  p {
    margin: 10px;
    @media screen and (max-width: 500px) {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
    }
  }
}
table {
  margin: 0 auto;
  font-size: 0.8em;
  th {
    background-color: $blue;
  }
  td {
    color: $blue;
  }
}
/******** PAGINATION ********/
.pagination {
  justify-content: space-around;

  li {
    border: 0;
    margin: 0;
    padding: 0;
  }
  a {
    color: #c5c5a9;
    border: black;
  }
}
/*********** FORMULAIRE **********/

.formulaire {
  text-align: center;
  margin: 20px 20px 20px 20px;
  border-top: 1px solid $blue;
  border-bottom: 1px solid $blue;
  padding: 10px;
  h5 {
    margin: 15px 0 30px 0;
    font-weight: bold;
  }
  .separation {
    border: 1px solid $orange;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
.corpsformu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;

  .groupe {
    margin-bottom: 5px;
    display: flex;
    .label {
      display: flex;
      flex-direction: column;
      input {
        padding-left: 22px;
      }
      svg {
        position: relative;
        color: $blue;
        top: -21px;
        left: 3px;
      }
    }
  }
}
.groupe {
  .dons {
    margin-right: 10px;
    label {
      margin-right: 10px;
    }
  }
}
.btn-dark {
  background-color: $orange;
  border: $orange;
  font-weight: bold;
  transition: 1s ease-in-out;

  &:hover {
    opacity: 0.4;
    transition: 1s ease-in-out;
  }
}
.modal {
  .modal-header {
    h5 {
      font-size: 1.5em;
    }
  }
}
footer {
  display: flex;
  justify-content: space-around;
  background-color: $green;

  .nous {
    ul {
      list-style: none;
    }
    li {
      margin-bottom: 5px;
      margin-top: 10px;

      &::before {
        content: "•";
        color: $orange;
        margin-right: 5px;
        font-weight: bold;
      }
      a {
        color: black;
      }
    }
  }
}
.icons {
  a {
    display: block;
    margin-right: 30px;
    margin-top: 5px;
    font-size: 40px;
    height: 30px;
  }
  svg {
    color: $orange;
  }
}
.année {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
