@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
/*font-family: 'Raleway', sans-serif;*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

/********* NAVBAR ********/
nav button {
  float: right;
  position: relative;
  top: 10px;
}

nav ul {
  margin: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul a {
  color: #c5c5a9;
  font-weight: bolder;
}

/********* IMAGE PRINCIPALE ET TITRE *********/
.presentation {
  position: relative;
  height: 200px;
  margin-bottom: 110px;
}

.presentation img {
  position: absolute;
  margin-top: 29px;
  margin-left: 25%;
  width: 50%;
}

.presentation h1 {
  position: relative;
  top: 200px;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  font-size: 40px;
}

/********* BARRE DONATION *********/
.donation {
  background-color: #c5c5a9;
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.1em;
  height: 40px;
  width: 100%;
  margin: 40px 0;
  padding: 8px;
  top: 220px;
}

.donation a {
  color: black;
  font-weight: bolder;
  text-decoration: none;
}

/********* MATCH CARITATIF *********/
.match {
  height: 100px;
  border-radius: 10px;
  width: 350px;
  margin: 0 auto;
  margin-bottom: 60px;
  display: block;
  background-color: #fe895e;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.match:hover {
  opacity: 0.7;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  letter-spacing: 2px;
}

.match h2 {
  position: relative;
  color: black;
  font-weight: bolder;
  font-size: 1.7em;
  top: 25px;
  text-align: center;
  padding: 10px;
}

.match:hover + .acces,
.acces:hover {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.acces {
  position: relative;
  text-align: center;
  display: block;
  top: -55px;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0.4;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.acces h5 {
  font-size: 1em;
}

.acces a {
  color: #fe895e;
  display: block;
}

/********* CARD *********/
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 0 auto;
  border: white;
  margin-bottom: 60px;
}

.card1 {
  background-color: #c5c5a9;
}

.card2 {
  background-color: #a2c2eb;
}

.card3 {
  background-color: #fe895e;
}

/********* CARD 1 *********/
.card1 {
  border: 1px solid;
  color: black;
  border-radius: 10px;
  padding-bottom: 10px;
}

.card1 img {
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.card1 h5 {
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bolder;
}

@media screen and (max-width: 500px) {
  .card1 p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
  }
}

.card1 p::first-letter {
  font-size: 1.7em;
}

.card1 button {
  background-color: white;
  color: #c5c5a9;
  border: #c5c5a9;
  float: right;
  border-radius: 5px;
  height: 35px;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.card1 button:hover {
  opacity: 0.4;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

/********* CARD 2 *********/
.card2 {
  border: 1px solid;
  color: black;
  border-radius: 10px;
  margin-top: 30px;
  padding-bottom: 10px;
}

.card2 img {
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.card2 h5 {
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bolder;
}

@media screen and (max-width: 500px) {
  .card2 p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
  }
}

.card2 p::first-letter {
  font-size: 1.7em;
}

.card2 button {
  background-color: white;
  color: #a2c2eb;
  border: #a2c2eb;
  float: right;
  border-radius: 5px;
  height: 35px;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.card2 button:hover {
  opacity: 0.4;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

/********* CARD 3 *********/
.card3 {
  border: 1px solid;
  color: black;
  border-radius: 10px;
  margin-top: 30px;
  padding-bottom: 10px;
}

.card3 img {
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.card3 h5 {
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bolder;
}

@media screen and (max-width: 500px) {
  .card3 p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
  }
}

.card3 p::first-letter {
  font-size: 1.7em;
}

.card3 button {
  background-color: white;
  color: #fe895e;
  border: #fe895e;
  float: right;
  border-radius: 5px;
  height: 35px;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}

.card3 button:hover {
  opacity: 0.4;
  -webkit-transition: 2s ease-in-out;
  transition: 2s ease-in-out;
}
/*# sourceMappingURL=main.css.map */