@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
/*font-family: 'Raleway', sans-serif;*/
body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

/************ HEADER ************/
header img {
  width: 100%;
  margin-bottom: 20px;
}

header h1 {
  text-transform: uppercase;
  color: #c5c5a9;
  padding: 10px 0;
  text-align: center;
  font-weight: bolder;
}

@media screen and (max-width: 550px) {
  header h1 {
    font-size: 1.3em;
  }
}

header .info {
  margin: 30px;
  text-align: justify;
}

header .info::first-letter {
  color: #fe895e;
  font-size: 2em;
}

header .places {
  margin: 30px;
  text-align: justify;
}

/****** TRAIT ******/
.trait {
  border: 1px solid #c5c5a9;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
}

h2 {
  color: #fe895e;
  text-shadow: 0px 0px 20px #fe895e;
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.7em;
}

/********** BARRE DE PROGRESSION *********/
.barre {
  margin: 20px;
  text-align: center;
}

.barre .progress {
  height: 25px;
}

.barre .process-bar {
  background-color: #fe895e;
  height: 25px;
}

.barre .pourcent {
  position: relative;
  top: 3px;
}

/***** 2 CONTAINERS ******/
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 50px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.container .box {
  height: 100px;
  width: 120px;
  background-color: #c5c5a9;
  border-radius: 10px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.container .box:hover {
  opacity: 0.7;
  -webkit-transform: translate(0) scale(1.1);
          transform: translate(0) scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.container .box .achat,
.container .box .joueurs {
  position: relative;
  text-align: center;
  top: 4px;
  font-size: 1.2em;
}

.container .box .joueurs {
  top: 11px;
}

.container .box a {
  color: black;
  text-decoration: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #c5c5a9;
}

footer .nous ul {
  list-style: none;
}

footer .nous li {
  margin-bottom: 5px;
  margin-top: 10px;
}

footer .nous li::before {
  content: "•";
  color: #fe895e;
  margin-right: 5px;
  font-weight: bold;
}

footer .nous li a {
  color: black;
}

.icons a {
  display: block;
  margin-right: 30px;
  margin-top: 5px;
  font-size: 40px;
  height: 30px;
}

.icons svg {
  color: #fe895e;
}

.année {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=main2.css.map */